{% extends 'teststripe/layout.html' %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% if request.session.cart%}
            <div class="row">
                {% for item, count, sum in items%}
                    <div class="card m-2" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'item' id=item.id%}">{{item.name}}</a></h5>
                            <input type="text" hidden value="{{ item.id }}" class="item_id">
                            <p class="card-text">Количество
                                <span class="count">{{ count }}</span>
                            </p>
                            <p>Цена за шт.: {{ item.price }} {{ item.currency.name }}</p>
                            <p>Всего: {{ sum }} {{ item.currency.name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="container" id="payinfo" hidden>
                <h3 id="cartamount">Сумма: <span id="fullamount">{{ amount }}</span></h3>

                <div class="mb-3">
                    <label class="form-label">Промокод</label>
                    <input type="text" id="promocode">
                    <button href="#" class="btn btn-primary" id="checkcode">Применить</button>
                </div>

                <button href="#" class="btn btn-primary" id="buycart">Купить</button>
                <div class="container">
                    <h1>Payment Intent</h1>
                    <button href="#" class="btn btn-primary" id="paymentintent">PI</button>

                    <form id="payment-form" hidden>
                      <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                      </div>
                      <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                      </button>
                      <div id="payment-message" class="hidden"></div>
                    </form>
                </div>
                <style>
                    #payment-form {
                      width: 30vw;
                      min-width: 500px;
                      align-self: center;
                      box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
                        0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
                      border-radius: 7px;
                      padding: 40px;
                    }

                    .hidden {
                      display: none;
                    }

                    #payment-message {
                      color: rgb(105, 115, 134);
                      font-size: 16px;
                      line-height: 20px;
                      padding-top: 12px;
                      text-align: center;
                    }

                    #payment-element {
                      margin-bottom: 24px;
                    }

                    /* Buttons and links */
                    #payment-form button {
                      background: #5469d4;
                      font-family: Arial, sans-serif;
                      color: #ffffff;
                      border-radius: 4px;
                      border: 0;
                      padding: 12px 16px;
                      font-size: 16px;
                      font-weight: 600;
                      cursor: pointer;
                      display: block;
                      transition: all 0.2s ease;
                      box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
                      width: 100%;
                    }
                    #payment-form button:hover {
                      filter: contrast(115%);
                    }
                    #payment-form button:disabled {
                      opacity: 0.5;
                      cursor: default;
                    }

                    /* spinner/processing state, errors */
                    .spinner,
                    .spinner:before,
                    .spinner:after {
                      border-radius: 50%;
                    }
                    .spinner {
                      color: #ffffff;
                      font-size: 22px;
                      text-indent: -99999px;
                      margin: 0px auto;
                      position: relative;
                      width: 20px;
                      height: 20px;
                      box-shadow: inset 0 0 0 2px;
                      -webkit-transform: translateZ(0);
                      -ms-transform: translateZ(0);
                      transform: translateZ(0);
                    }
                    .spinner:before,
                    .spinner:after {
                      position: absolute;
                      content: "";
                    }
                    .spinner:before {
                      width: 10.4px;
                      height: 20.4px;
                      background: #5469d4;
                      border-radius: 20.4px 0 0 20.4px;
                      top: -0.2px;
                      left: -0.2px;
                      -webkit-transform-origin: 10.4px 10.2px;
                      transform-origin: 10.4px 10.2px;
                      -webkit-animation: loading 2s infinite ease 1.5s;
                      animation: loading 2s infinite ease 1.5s;
                    }
                    .spinner:after {
                      width: 10.4px;
                      height: 10.2px;
                      background: #5469d4;
                      border-radius: 0 10.2px 10.2px 0;
                      top: -0.1px;
                      left: 10.2px;
                      -webkit-transform-origin: 0px 10.2px;
                      transform-origin: 0px 10.2px;
                      -webkit-animation: loading 2s infinite ease;
                      animation: loading 2s infinite ease;
                    }

                    @-webkit-keyframes loading {
                      0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                      }
                      100% {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                      }
                    }
                    @keyframes loading {
                      0% {
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                      }
                      100% {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                      }
                    }

                    @media only screen and (max-width: 600px) {
                      #payment-form  {
                        width: 80vw;
                        min-width: initial;
                      }
                    }
                </style>
            </div>

        {% else %}
            <h1 class="emptycart">Корзина пуста</h1>
        {% endif %}
    </div>
{% endblock %}